* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.m1 {
	margin: 1%;
}
.m3 {
	margin: 3%;
}
.m5 {
	margin: 5%;
}
.m7 {
	margin: 7%;
}
.m10 {
	margin: 10%;
}
.m20 {
	margin: 20%;
}
.m30 {
	margin: 30%;
}
.mt1 {
	margin-top: 1%;
}
.mt3 {
	margin-top: 3%;
}
.mt5 {
	margin-top: 5%;
}
.mt7 {
	margin-top: 7%;
}
.mt10 {
	margin-top: 10%;
}
.mt20 {
	margin-top: 20%;
}
.mt30 {
	margin-top: 30%;
}
.mb1 {
	margin-bottom: 1%;
}
.mb3 {
	margin-bottom: 3%;
}
.mb5 {
	margin-bottom: 5%;
}
.mb7 {
	margin-bottom: 7%;
}
.mb10 {
	margin-bottom: 10%;
}
.mb20 {
	margin-bottom: 20%;
}
.mb30 {
	margin-bottom: 30%;
}
.ml1 {
	margin-left: 1%;
}
.ml3 {
	margin-left: 3%;
}
.ml5 {
	margin-left: 5%;
}
.ml7 {
	margin-left: 7%;
}
.ml10 {
	margin-left: 10%;
}
.ml20 {
	margin-left: 20%;
}
.ml30 {
	margin-left: 30%;
}
.mr1 {
	margin-right: 1%;
}
.mr3 {
	margin-right: 3%;
}
.mr5 {
	margin-right: 5%;
}
.mr7 {
	margin-right: 7%;
}
.mr10 {
	margin-right: 10%;
}
.mr20 {
	margin-right: 20%;
}
.mr30 {
	margin-right: 30%;
}
.p1 {
	padding: 1%;
}
.p3 {
	padding: 3%;
}
.p5 {
	padding: 5%;
}
.p7 {
	padding: 7%;
}
.p10 {
	padding: 10%;
}
.p20 {
	padding: 20%;
}
.p30 {
	padding: 30%;
}
.pt1 {
	padding-top: 1%;
}
.pt3 {
	padding-top: 3%;
}
.pt5 {
	padding-top: 5%;
}
.pt7 {
	padding-top: 7%;
}
.pt10 {
	padding-top: 10%;
}
.pt20 {
	padding-top: 20%;
}
.pt30 {
	padding-top: 30%;
}
.pb1 {
	padding-bottom: 1%;
}
.pb3 {
	padding-bottom: 3%;
}
.pb5 {
	padding-bottom: 5%;
}
.pb7 {
	padding-bottom: 7%;
}
.pb10 {
	padding-bottom: 10%;
}
.pb20 {
	padding-bottom: 20%;
}
.pb30 {
	padding-bottom: 30%;
}
.pl1 {
	padding-left: 1%;
}
.pl3 {
	padding-left: 3%;
}
.pl5 {
	padding-left: 5%;
}
.pl7 {
	padding-left: 7%;
}
.pl10 {
	padding-left: 10%;
}
.pl20 {
	padding-left: 20%;
}
.pl30 {
	padding-left: 30%;
}
.pr1 {
	padding-right: 1%;
}
.pr3 {
	padding-right: 3%;
}
.pr5 {
	padding-right: 5%;
}
.pr7 {
	padding-right: 7%;
}
.pr10 {
	padding-right: 10%;
}
.pr20 {
	padding-right: 20%;
}
.pr30 {
	padding-right: 30%;
}
.cw {
	color: white;
}
.bcw {
	background-color: white;
}
.bcg {
	background-color: #eff3f9;
}
.bc1 {
	background-color: #e81500;
}
.bc2 {
	background-color: #f4a100;
}
.bc3 {
	background-color: #0061f2;
}
.bco {
	background-color: olivedrab;
}
.bcb {
	background-color: #1f2d41;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
.jcc {
	justify-content: center;
}
.w100 {
	width: 100%;
}
.dil {
	display: inline;
}
.db {
	display: block;
}
.dif {
	display: flex;
}
nav {
	display: flex;
	justify-content: flex-end;
	ul {
		li {
			padding-top: 2vh;
			padding-bottom: 2vh;
			display: flex;
			align-items: center;
		}
	}
	a {
		margin-left: 3vh;
		text-align: center;
		text-decoration: none;
		color: rgba(0,0,0,.5);
		&:hover {
			color: gainsboro;
		}
	}
}
.w40{
	width:40% ;	
}
.img {
	width: 20%;
}
.icon {
	width: 10vh;
	border-radius: 50%;
}
.socials{
	width: 3vh;
}
.iconimg {
	width: 50%;
	border-radius: 10vh;
}
.productimg {
	width: 30%;
	border-radius: 2vh;
	color:transparent;
}
.productimg:hover{
	transform: scale(1.2);
	transition: all .3s ease-in-out;
	opacity: 0.5;

}
.imgstyle1{
    width: 30%;
    height: 80%;
}
.imgstyle2{
    width: 30%;
    height: 60%;
}
.imgstyle3{
    width: 30%;
    height: 40%;
}
.button1 {
	border-radius: 2vh;
	background-color: olivedrab;
	color: white;
	padding: 1vh 3vh 1vh 3vh;
	&:hover {
		background-color: #f4a100;
	}
}
.cut {
	margin-left: 20%;
	margin-right: 20%;
}
.container1 {
	display: flex;
	align-items: stretch;
}
.container2 {
	column-gap: 2vh;
}
.container4 {
	row-gap: 2vh;
	flex-direction: column;
}
.containerfoot {
	display: flex;
	justify-content: space-evenly;
	gap: 8%;
	justify-self: flex-start;
	align-items: flex-start;
}
.border {
	border-radius: 2vh;
	border-width: 0.5vh;
	border-style: solid;
	border-color: white;
}
